:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #e2e2e2;
  --azul: #289dcc;
  --laranja: #f16a18;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
